<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- FIXME: these are all currently ignored -->

	<key>ActDefaultDistanceUnit</key>
	<string>miles</string>
	<key>ActDefaultPaceUnit</key>
	<string>seconds_per_mile</string>
	<key>ActDefaultSpeedUnit</key>
	<string>miles_per_hour</string>
	<key>ActDefaultTemperatureUnit</key>
	<string>celsius</string>
	<key>ActDefaultWeightUnit</key>
	<string>kg</string>
	<key>ActStartOfWeek</key>
	<integer>1</integer>
	<key>ActRestingHR</key>
	<integer>40</integer>
	<key>ActMaxHR</key>
	<integer>178</integer>
	<key>VDOT</key>
	<real>50</real>

	<key>ActActivitySubviewControllers</key>
	<array>
		<dict>
			<key>className</key>
			<string>ActSummaryViewController</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ActLapViewController</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ActHeaderViewController</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ActMapViewController</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ActChartViewController</string>
		</dict>
	</array>

	<key>ActMapSources</key>
	<array>
		<string>openstreetmap-tiles</string>
		<string>opencyclemap-tiles</string>
		<string>hikebikemap-tiles</string>
		<string>mapquest-map-tiles</string>
		<string>mapquest-sat-tiles</string>
	</array>
	<key>ActDefaultMapSource</key>
	<string>OpenCycleMap</string>

	<key>ActActivityColors</key>
	<dict>
		<key>run/easy</key>
		<string>.33 .82 .03</string>
		<key>run/easy+strides</key>
		<string>.49 .82 .02</string>
		<key>run/easy+hills</key>
		<string>.49 .82 .02</string>
		<key>run/recovery</key>
		<string>.26 .65 .02</string>
		<key>run/trail</key>
		<string>.59 .41 .11</string>
		<key>run/long</key>
		<string>.30 .69 1</string>
		<key>run/medium</key>
		<string>.85 .82 .02</string>
		<key>run/tempo</key>
		<string>1 .5 0</string>
		<key>run/fartlek</key>
		<string>.70 .17 .95</string>
		<key>run/hill</key>
		<string>.70 .17 .95</string>
		<key>run/interval</key>
		<string>.90 0 .89</string>
		<key>run/race</key>
		<string>.87 0 .02</string>
		<key>run/run-walk</key>
		<string>.4 .82 .56</string>
	</dict>

	<key>ActBodyFont</key>
	<string>Helvetica</string>
</dict>
</plist>
